<head>
  <style>
    body { text-align: center;
   color: #222831;
   Font-size: 25px;
   font-family: tahoma;
   background-color: #ffe8df;

    }
    ul { list-style-type:none; }
  </style>

<body>
  <h1> MakersBnB </h1>
  <hr>
  <h2> Beautiful Relaxing Space </h2><br>
