<head>
  <style>
    body { text-align: center;
   color: #222831;
   Font-size: 25px;
   font-family: tahoma;
   background-color: #ffe8df;

    }
    ul { list-style-type:none; }
  </style>

<body>
  <h1> MakersBnB </h1>
  <hr>
  <h2> book a space</h2><br>

   <h1> Hi <%= @user.username %> </h1><br>

  <form action='/list_space' method='get'>
    <input type="submit" name="List a space" value="List a space">
  </form>

<ul>
  <% @spaces.each do |space| %>
  <li> <%= space.name %> <%= space.description %> <%= space.price %>
  <form action='/book_space' method ='get'>
    <input type='submit' value='Check Availability'>
  </form>
  </li>
  <% end %>
</ul>
</body>
