<div class="tab">
  <form action='/' method='get'>
    <input type='submit' value='Signup'>
  </form>
</div>
<h1>MakersBnB</h1>
<hr>
<h2>Please login to list a space</h2>

  <style>
    body { text-align: center;
   color: #222831;
   Font-size: 25px;
   font-family: tahoma;
   background-color: #ffe8df;
    }

    .tab {
  overflow: hidden;
  text-align: right
}
  </style>

<body>

<form action='/logincheck' method='post'>
  <input type='text' name='username' placeholder='username'><br><br>
  <input type='text' name='password' placeholder='password'><br><br><br>
  <input type='submit' value='Login'><br>
</form>
</body>
