<h1>MakersBnB Login</h1>

<form action='/sign_up' method='get'>
  <input type='submit' value='Signup'>
</form>

<form action='/' method='post'>
  <input type='text' name='username'><br>
  <input type='text' name='password'><br>
  <input type='submit' value='Login'><br>
</form>
