<style>
    body { text-align: center;
   color: #222831;
   Font-size: 25px;
   font-family: tahoma;
   background-color: #ffe8df;
    }

  .tab {
  overflow: hidden;
  text-align: right
  }
  
</style>


<body>
  <div class='tab'>
    <form action='/spaces' method='get'>
      <input type='submit' value='Spaces'>
    </form>
  </div>


<h1> MakersBnB </h1>
<hr>
<h2> your requests:</h2><br>

<ul>
<li><%= @name %></li>
</ul>

</body>